{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.1-dist/css/bootstrap.min.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Delete</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}"?</p>
        {{ form }}
        <input type="submit" value="Confirm" class="btn btn-warning">
        <a href="/blog/{{object.id}}" class="btn btn-primary">No </a>
    </form>
    
    <script src="{% static 'bootstrap-5.3.1-dist/js/bootstrap.min.js' %}"></script>
</body>
</html>